:root{
    --background-color: #2f3844;
    --logo-color: #f9faf8;
    --link-color: #e5e5eb;
    --secondary-color: rgb(255, 196, 0);
}
body{
    font-family: monospace;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
header{
    background-color: var(--background-color);
    min-width: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}
.navbar ul{
    display: flex;
}
.navbar li{
    font-weight: bold;
    padding: 10px;
}
.nav-flex a{
    color: var(--link-color);
    font-size: 14px;
}
.navbar h2 a{
    color: var(--logo-color);
    font-size: 20px;
}
.navbar a:hover {
    color: var(--secondary-color);
  }


.container{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.introduction{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    font-weight: bold;
    text-align: justify;
    margin: 30px;

}
.introduction p{
    color: rgb(201, 201, 201);
}
.introduction h1{
    color: white;
}

button{
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(85, 158, 255);
}

.title{
    font-size: 22px;
    font-weight: 800;
    margin: 40px;
}

.container-information{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.info{
    max-width: 100px;
}

.box{
    background-color: white;
    border: 2px solid rgb(93, 93, 255);
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.text{
    font-size: 12px;
    font-weight: 200;
    color: rgb(82, 82, 82);
    padding: 10px;
}

.container-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgb(238, 238, 238);

}

.text-quote, .quote-author{
    width: 500px;
}

.container-quote .text-quote h2{
    margin: 50px;
    margin-bottom: 0px;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
}

.container-quote h3{
    padding: 0px;
    margin: 0px;
}

.quote-author{
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

.container-modal{
    margin: 70px;
}

.container-modal, .modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    border-radius: 5px;
    background-color: rgb(63, 131, 219);
}

.text-modal, .button{
    padding: 20px;
    margin-right: 60px;
    margin-left: 60px;
}
.modal .text-modal{
    color: white;
}
.modal .text-modal h4{
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
}

.modal .text-modal p{
    margin-top: 5px;
}

.container-modal .modal .button button{
    background-color: rgb(63, 131, 219);
    border-color: #e5e5eb;
}

.container-footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3844;
    height: 70px;
}




@media screen and (min-width: 390px) and (max-width: 767px) {
    header {
      height: 100%;
    }
  
     .navbar {
      flex-direction: column;
    }
  }

